# HubSpot Private App Token for EU portal 24916652.
# Generate at: https://app-eu1.hubspot.com/private-apps/24916652
#
# Required scopes:
#   crm.objects.deals.read
#   crm.objects.contacts.read
#   crm.objects.custom.read
#   crm.objects.owners.read
#   crm.schemas.deals.read
#   crm.schemas.contacts.read
#   crm.schemas.custom.read
#
# Format: pat-eu1-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
HUBSPOT_TOKEN=pat-eu1-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
